<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import ur_description urdf file -->
    <xacro:include filename="$(find ur_description)/urdf/ur_20.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="ur_description.ros2_control.xacro" />


    <xacro:ur_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
